.linkedin {
    background-color: #888;
    height: 3rem;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 3rem;
    margin-top: -2rem;
    margin-left: 45rem;
   }

   .github {
    background-color: #888;
    height: 3rem;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 3rem;
    margin-top: -3rem;
    margin-left: 50rem;
   }